::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #8d98ff59;
}

::-webkit-scrollbar-thumb {
    background: rgb(3, 92, 151);
    transition: all 0.3s;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 61, 102, 0.541);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(15, 16, 22);
    font-family: 'Montserrat', sans-serif;
    min-width: 396px;
}

header {
    background: hsla(205, 46%, 10%, 1);

background: linear-gradient(45deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);

background: -moz-linear-gradient(45deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);

background: -webkit-linear-gradient(45deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 30px 0px;
    margin: 0 auto;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.055);
}

.background img {
    width: 200px;
    height: 200px;
}

.header-right {
    text-align: center;
    color: rgb(206, 214, 255);
}

.header-right h1 {
    font-size: 48px;
    margin: 0px;
    transition: all 0.3s ease;
}

.header-right p {
    font-size: 20px;
    transition: all 0.3s ease;
}

.orange {
    color: rgb(255, 231, 18);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

nav li i {
    margin-right: 10px;
}

nav li {
    margin-left: 0px;
    margin-right: 60px;
    padding: 0;
    max-width: fit-content;
    text-align: center;
}

nav a {
    color: rgb(206, 214, 255);
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease;
}

nav a:hover,
.theme:hover {
    color: #f44336;
}
.theme{
    transition: 0.3s ease;
}
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: rgb(206, 214, 255);
    background-color: rgb(15, 16, 22);
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.5);
}

h2 {
    font-size: 22px;
    margin: 0 0 20px 0;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgb(241, 241, 241);
    text-align: center;
}

section {
    margin-bottom: 40px;
}

#about_section {
    padding: 20px;
}

#about_section .container .cards p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.links {
    text-decoration: none;
    color: #CED6FF;
    transition: all 0.3s ease;
}

.links:hover {
    color: #ff2a00;
}

#about_section .container,
.logos {
    display: flex;
}

#about_section .container .image-area {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 40%;
    height: 380px;
    margin-right: 15px;
    transition: all 0.3s ease;
}

#about_section .container .image-area img {
    margin: 0 auto;
    transition: all 0.3s ease;
    border-radius: 10%;
    width: 300px;
    height: 300px;
    background-color: rgb(0, 187, 201);
}

#about_section .container .cards {
    flex-basis: 50%;
    transition: all 0.3s ease;
}

.expertise {
    width: fit-content;
    color: #00eeff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logos {
    width: fit-content;
}

.logos img {
    max-width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-left: -7px;
    transition: all 0.3s ease;
}

.text-area button {
    padding: 10px;
    margin: 20px;
    margin-left: 0px;
    background-color: transparent;
    transition: all 0.11s ease;
    border: 1px solid rgb(35, 228, 253);
    color: white;
}

.text-area button:hover {
    color: rgb(61, 240, 216);
    border: 1px dashed;
}

.Education_section .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.Education_section .cards .card-style {
    position: relative;
    margin: 5px;
    margin-right: 30px;
    padding: 40px 20px;
    width: 45%;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(193, 197, 252, 0.2);
    min-width: 204px;
    transition: all 0.3s ease;
}

.Education_section .cards .card-style h4,
.others .container h4 {
    margin-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
}

.Education_section .cards .card-style p {
    margin-bottom: 10px;
}

.Education_section .cards .card-style .external-link {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: rgb(206, 214, 255);
    transition: all 0.3s ease;
}

.Education_section .cards .card-style .external-link:hover {
    color: #274eff;
}

.ieee {
    color: rgb(206, 214, 255);
    text-underline-offset: 5px;
    transition: all 0.3s ease;
}

.ieee:hover {
    color: rgb(24, 228, 255);
}

.skills_section {
    width: 100%;
    padding: 50px 13%;
    background-color: rgba(5, 3, 15, 0.856);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.note {
    position: absolute;
    bottom: 3px;
    right: 5px;
    font-size: 11px;
    color: #919191;
}

.skills_head {
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    text-align: center;
}

.skills_head h2 {
    font-size: 30px;
    margin-bottom: -5px;
    color: #187053;
}

.skills_head h2 span {
    color: #00ffff;
}

.skills_main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.skills_main .skill_bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill_bar .info p:nth-child(2) {
    font-weight: 500;
}

.skill_bar .bar {
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}

.skill_bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #ae00ff;
    border-radius: 25px;
}

.skill_bar .bar .html {
    width: 70%;
    animation: html 2s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.skill_bar .bar .css {
    width: 95%;
    animation: css 2s;
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

.skill_bar .bar .js {
    width: 50%;
    animation: js 2s;
}

@keyframes js {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

.skill_bar .bar .c {
    width: 85%;
    animation: c 2s;
}

@keyframes c {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

.skill_bar .bar .cplusplus {
    width: 80%;
    animation: cpp 2s;
}

@keyframes cpp {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.skill_bar .bar .microsoft {
    width: 93%;
    animation: express 2s;
}

@keyframes express {
    0% {
        width: 0%;
    }

    100% {
        width: 93%;
    }
}

.star {
    color: #FFD700;
}

.others .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.others .container .cards {
    background-color: rgba(222, 167, 248, 0.308);
    padding: 50px 15px;
    padding-top: 10px;
    margin-right: 5px;
    flex-basis: 33%;
    transition: all 0.3s ease;
}

.others .container .cards p {
    margin-bottom: 10px;
}

.project_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0px 10px 20px 10px;
}

.project img {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.project-info {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(24, 26, 58, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-radius: 10px;
    padding: 20px;
    width: inherit;
    height: 200px;
    color: #cafff4;
    transition: all 0.3s ease;
    backdrop-filter: blur(3px);
    opacity: 0;
    z-index: -5;
    overflow-y: auto;
    transform: translateY(-100%);
}

.project:hover .project-info {
    opacity: 1;
    display: block;
    z-index: 0;
    transform: translateY(0%);
}

.project-info h3 {
    margin: 0;
    font-size: 20px;
}

.project-info p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.project-info a {
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    padding: 10px 15px;
    background-color: #f44336;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}

.project-info a:hover {
    background-color: #be1007c9;
    border: 2px solid #b40d05c9;
}

#contact_section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
    padding-top: 10px;
    border-top: 1px solid rgb(88, 88, 88);
    background-color: rgba(30, 0, 54, 0.37);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#contact_section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#contact_section .symbols {
    display: flex;
}

#contact_section .container img {
    width: 400px;
    height: 400px;
}

#contact_section .container .cards {
    flex-basis: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.information {
    padding: 10px 0px;
    width: inherit;
    background-color: greeen;
}

.details {
    justify-content: left !important;
    flex-direction: column;
}

.thanks h2 {
    font-size: 25px !important;
    text-align: left;
}

.information i {
    margin-right: 5px;
}

.information p {
    margin-bottom: 30px;
    text-decoration: 2px solid rgb(1, 1, 75) underline;
    text-underline-offset: 5px;
    color: rgb(14, 239, 255);
}

.social-media i {
    margin-left: 20px;
    color: rgb(150, 150, 150);
    font-size: 25px;
}


.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    text-decoration: none;
    font-size: 24px;
    transition: all 0.3s ease;
}

.inst {
    padding: 2px;
}

.inst:hover {
    background: -webkit-linear-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bdf);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.face:hover {
    color: #4267B2;
}

.linked:hover {
    color: #0072b1;
}

.git:hover {
    color: white;
}

.mail:hover {
    color: #c71610;
}

footer {
    background-color: #525050;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a img {
    width: 20px;
    margin-left: 30px;
    transition: all 0.3s ease;
}

footer a img:hover {
    transform: translateY(-10px);
}

footer .logo {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
}

footer .logo:hover {
    transform: rotate(360deg);

}

/*Media Queries*/
@media screen and (max-width: 1040px) {
    .othes .continer {
        justify-content: center;
    }

    .others .container .cards {
        flex-basis: 30%;
    }
}

@media screen and (max-width: 858px) {
    #about_section .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Education_section .cards .card-style {

        flex-basis: 50%;
    }

    #about_section .container .image-area {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 742px) {
    .header-right h1 {
        font-size: 35px;
        margin: 0px;
    }

    .header-right p {
        font-size: 15px;
    }

    nav a {
        font-size: 14px;
    }

    .details {
        justify-content: center;
    }

    #contact_section .container .cards {
        flex-basis: 60%;

    }

    .thanks h2 {
        font-size: 22px !important;
    }

    .others .container .cards {
        flex-basis: 100%;
        margin: 5px 0px;
    }
}

@media screen and (max-width: 616px) {
    #contact_section .container .cards {
        flex-basis: 70%;

    }
}

@media screen and (max-width: 532px) {
    #contact_section .container .cards {
        flex-basis: 80%;

    }
}

@media screen and (max-width: 461px) {
    #contact_section .container .cards {
        flex-basis: 90%;

    }
}

@media screen and (max-width: 414px) {
    #contact_section .container .cards {
        flex-basis: 100%;

    }

    .social-media i {
        margin-left: 10px;
        font-size: 20px;
    }

    .thanks h2 {
        font-size: 20px !important;
    }

    nav li {
        margin-left: 0px;
        margin-right: 10px;
        padding: 0;
        max-width: fit-content;
    }

    .skills_section {
        width: 100%;
        padding: 50px 1%;
    }

    .skills_section p {
        font-size: 14px;
    }

    #about_section .container .image-area {
        width: 100%;
        margin-right: 0px;
    }

    #about_section .container .cards {
        flex-basis: 100%;
    }

    .project img {
        width: 300px;
        height: 180px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    }

    .project-info {
        padding: 10px;
        width: inherit;
        height: 180px;
    }

    .project-info a {
        padding: 5px 10px;
        font-size: 16px;
    }

    .note {
        font-size: 5px;
    }
    .Education_section .cards .card-style{
        min-width: 100%;
        margin: 0px auto;
        margin-top:10px;
    }
}
